<!DOCTYPE html>
<html>
    <head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            


        <title style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">ASD PROJECT SHOP</title>
        <link rel = "icon" type = "image/png" href = "../logo.jpg" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>
   <body onload="myFunction()">
    <div class="navbar-fixed">
        <nav  style="background-color:blueviolet">
          
          <div class="nav-wrapper">
              <a  class="brand-logo" ><img src="../logo.jpg" style="width: 80px;height:65px;margin-left :200px">  Projects</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <ul class="right hide-on-med-and-down">
              <li><a href="project" style="font-size: 20px">Projects</a></li>
              <li><a href="facility" style="font-size: 20px">Facilities</a></li>
              <li><a href="contact" style="font-size: 20px">Contacts</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="card" style="margin-left:30%; margin-right:30%;margin-top:2%">
          <div class="card-body">
            <h2 class="card-title">Add Recipie Project</h2>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">In this project we are taking inputs from the user such as Recipie Name Ingredients and Direction
              to prepare a food. After that we had send the data from the form to database and after that we are fetching the data 
              from database to the webpage and displaying it in the form of table.
            </p>

            <h5  class="card-link" >To buy one need to contact us from any of the means provided.</h5>
            <a  class="card-link" style="font-display:center">Price 1000 Rupee</a>
            <a href="https://youtu.be/iF869rLryPk" class="card-link" style="font-display:center">YOUTUBE VIDEO LINK</a>
            
          </div>
        </div>
   </body>



   <script>
      function myFunction() {
        alert("ALWAYS OPEN IN COMPUTER");
      }
      </script>
</html>